@charset "UTF-8";

/*Configurações do MODO PAISAGEM*/

body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}